/* Estilos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: linear-gradient(135deg, #80ff84, #5190fc);
}

/* Particulas */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Contenedor principal */
.container {
    text-align: center;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    animation: fadeIn 1s ease-out;
}
.container:hover {
    transform: scale(1.00);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* Enlaces */
.enlace1 {
    color: #0044ff;
    text-decoration: none;
}
.enlace2 {
    color: #ffffff;
    text-decoration: none;
}


/* Animación de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Formularios */
form {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #555;
    text-align: left;
}

input[type="text"],
input[type="password"],


select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="checkbox"] {
    margin-right: 10px;
}

/* Boton seleccionar */
.boton1{
    width: 30%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: auto;
}

.boton1:hover {
    background-color: #0056b3;
}

.boton1:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Boton 2 */
.boton2{
    width: 30%;
    padding: 10px;
    background-color: #06a924;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: auto;
}
.boton2:hover {
    background-color: #06a924;
}
.boton2:hover {
    background-color: #06a924;
    transform: scale(1.05);
}


/* Separador */
hr {
    border: 0;
    height: 1px;
    background: #888888f5;
    margin: 5px 0;
}